@import "tailwindcss";

@font-face {
  font-family: JetBrains;
  src: url("./assets/fonts/jbm/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: JetBrains Italic;
  src: url("./assets/fonts/jbm/JetBrainsMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: JetBrains Bold;
  src: url("./assets/fonts/jbm/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto Italic;
  src: url("./assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto Bold;
  src: url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Lato Italic;
  src: url("./assets/fonts/lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Lato Bold;
  src: url("./assets/fonts/lato/Lato-Bold.ttf") format("truetype");
}

@theme {
 --color-text: #124f54;
 --color-background: #ededed;
 --color-primary: #6ad7af;
 --color-secondary: #102937;
 --color-accent: #e2dad0;
 --color-error: #96063b;

 --font-jbm: JetBrains;
 --font-jbm-italic: JetBrains Italic;
 --font-jbm-bold: JetBrains Bold;

 --font-roboto: Roboto;
 --font-roboto-italic: Roboto Italic;
 --font-roboto-bold: Roboto Bold;

 --font-lato: Lato;
 --font-lato-italic: Lato Italic;
 --font-lato-bold: Lato Bold;
}

.appNavigation {
  transition: height 0.25s ease, opacity 0.35s ease;
}

.appButton {
  background-color: var(--color-primary);
  padding-block: 0.25em;
  padding-inline: 1.25em;
  border-radius: 0.25em;
  color: var(--color-text);
  transition: color 0.1s linear;

  &:hover {
    cursor: pointer;
    color: var(--color-background);
  }
}
