@import "tailwindcss";

@font-face {
  font-family: JetBrains;
  src: url("./assets/fonts/jbm/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: JetBrains Italic;
  src: url("./assets/fonts/jbm/JetBrainsMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: JetBrains Bold;
  src: url("./assets/fonts/jbm/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto Italic;
  src: url("./assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto Bold;
  src: url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Lato Italic;
  src: url("./assets/fonts/lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Lato Bold;
  src: url("./assets/fonts/lato/Lato-Bold.ttf") format("truetype");
}

@theme {
 --color-text: #124f54;
 --color-background: #ededed;
 --color-primary: #6ad7af;
 --color-secondary: #102937;
 --color-accent: #e2dad0;
 --color-error: #96063b;
 --color-success: #68c151;
 --color-inactive: #4a4a4a;

 --color-secondary-light: #10293720;
 --color-inactive-light: #4a4a4a20;
 --color-background-light: #d4d4d43a;

 --font-jbm: JetBrains;
 --font-jbm-italic: JetBrains Italic;
 --font-jbm-bold: JetBrains Bold;

 --font-roboto: Roboto;
 --font-roboto-italic: Roboto Italic;
 --font-roboto-bold: Roboto Bold;

 --font-lato: Lato;
 --font-lato-italic: Lato Italic;
 --font-lato-bold: Lato Bold;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-text: #ac9e8d;
    --color-background: #0a2325;
    --color-primary: #3e3c27;
    --color-secondary: #1e7b59;
    --color-accent: #ededed;
    --color-error: #96063b;
    --color-success: #68c151;
    --color-inactive: #948181;

    --color-secondary-light: #1e7b5920;
    --color-inactive-light: #94818120;
    --color-background-light: #0a23253a;
  }
}

body {
  overflow: auto;
  background-color: var(--color-background);
}

.appNavigation {
  /*transition: height 0.25s ease, opacity 0.35s ease;*/

  a {
    transition: transform 0.3s ease;

    &:nth-child(n) {
      transition-delay: calc(0.1s * (var(--index)));
    }
  }
}

.appNavigationItemOpen {
  transform: translateX(0%);
}

.appNavigationItemClosed {
  transform: translateX(105%);
}

.appButton {
  background-color: var(--color-primary);
  padding-block: 0.25em;
  padding-inline: 1.25em;
  border-radius: 0.25em;
  color: var(--color-text);
  transition: color 0.1s linear;

  &:hover {
    cursor: pointer;
    color: var(--color-background);
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      color: var(--color-secondary);
    }
  }
}

.appInput {
  border-bottom: solid 1px var(--color-secondary);
  padding-inline: 3px;
  outline: none;
  font-family: JetBrains;
  color: var(--color-secondary);

  &:focus {
    color: var(--color-text);
  }
}
