@import "../App.css";

/* Navigation Open Button */

.navigationOpener {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.2s linear;
    align-items: center;

    span {
        border-radius: 1000px;
        background-color: var(--color-secondary);
        transition: all 0.2s linear, background 0s linear;
    }

    &:hover span {
        background-color: var(--color-background);
    }
}

.navigationOpen {
    flex-direction: row;
    justify-content: center;
    gap: 3%;

    span {
        &:nth-child(1) {
            transform: rotate(50deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-50deg);
        }
    }
}

.navigationOpen span {
    height: 50%;
    width: 12.5%;
}

.navigationClosed {
    flex-direction: column;
    justify-content: space-evenly;
}

.navigationClosed span {
    width: 100%;
    height: 12.5%;
}


/* Bounce Logo (Page Loader) */

.bounceDelay {
    animation: bounceDelay 2s linear infinite;
}

@keyframes bounceDelay {
    0% { transform: translateY(0px); }
    9% { transform: translateY(-10px); }
    18% { transform: translateY(0px); }
    27% { transform: translateY(-10px); }
    36% { transform: translateY(0px); }
    45% { transform: translateY(-10px); }
    54% { transform: translateY(0px); }
}


/* Pop In Confirm Modal */

.popIn {
    scale: 1;
    opacity: 1;
    animation: popIn 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* cubic bezier for spring */
}

@keyframes popIn {
    0% {
        scale: 0.5;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}


/* Pop In Blur Confirm Modal Wrapper */

.popInBlur {
    backdrop-filter: blur(10px);
    animation: popInBlur 0.1s ease-in;
}

@keyframes popInBlur {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(10px);
    }
}
