@import "../App.css";

/* From Uiverse.io by satyamchaudharydev */ 
.loading {
    --speed-of-animation: 1.2s;
    --first-color: var(--color-primary);
    --second-color: var(--color-primary);
    --third-color: var(--color-primary);
    --fourth-color: var(--color-primary);
    --fifth-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loading span {
 width: 10%;
 height: 100%;
 background: var(--first-color);
 animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
 background: var(--second-color);
 animation-delay: -1.1s;
}

.loading span:nth-child(3) {
 background: var(--third-color);
 animation-delay: -1s;
}

.loading span:nth-child(4) {
 background: var(--fourth-color);
 animation-delay: -0.9s;
}

.loading span:nth-child(5) {
 background: var(--fifth-color);
 animation-delay: -0.8s;
}

@keyframes scale {
 0%, 40%, 100% {
  transform: scaleY(0.05);
 }

 20% {
  transform: scaleY(1);
 }
}


/* Info Modal Utility Component */

.infoModal {
    &::before {
        display: none;
    }
}

.infoModal:hover {
    &::before {
        display: block;
    }
}

/* Add Info Modal content classes below */

/* 
    Note: you don't need to import this css file anywhere 
    you use InfoModal component, just create the class 
    below and add it to the 'classname' prop of InfoModal.
*/

.infoModalInvitePrivacy:hover {
    &::before {
        content: "When an invite is sent, you won't be informed if it was received or not. This is to preserve anonymity; it ensures no user is given any hint as to whether or not another user also exists. If your invite is for a user that you know is on here, rest assured the recipient has it.";
    }
}


/* Landing Page classes */

.landingImageFilters {
    filter: contrast(150%) hue-rotate(80deg) saturate(48%) grayscale(74%) sepia(12%) invert(100%);
    -webkit-mask: linear-gradient(var(--color-background) 15%, transparent);
    mask: linear-gradient(var(--color-background) 10%, transparent 75%, transparent);
}
