asgiref==3.9.1
attrs==25.3.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.6
dj-rest-auth==7.0.1
Django==5.2.4
django-allauth==65.10.0
django-cors-headers==4.7.0
django-csp==4.0
django-extensions==4.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dnspython==2.7.0
gunicorn==25.0.3
idna==3.10
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.2
packaging==26.0
pycparser==2.22
PyJWT==2.10.1
pymongo==4.14.0
PyMySQL==1.1.1
pyOpenSSL==25.1.0
python-dotenv==1.1.1
referencing==0.36.2
requests==2.32.4
rpds-py==0.27.1
sqlparse==0.5.3
urllib3==2.5.0
Werkzeug==3.1.3
